@import '../../../variables';

.button {
    width: auto;

    padding: 0 5em;
    font-weight: 200;
    color: white;
    height: 4.5em;
    background-color: $color-blue;
    border: 2px solid $color-blue;
    border-radius: 100em;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;

    &:hover {
        color: $color-blue;
        background-color: white;
    }

    transition: all 0.3s ease;
}


.outline {
    border: 2px solid white;
}