@import '../../variables';

h1 {
    color: $blue;
}

h2 {
    color: $blue;
    text-align: center;
    width: 40em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid darkgray;
}

.proposition {
    padding: 2em 1em;
}

