@import '../../../variables';

.about-picture {
    width: 15em;
    height: 15em;
    border: 2px solid black;
    border-radius: 50%;
}


h2 {
    color: $color-blue;
}

h4 {
    font-style: italic;
    text-transform: none;
}
