<article fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2em">
  <div class="about-picture"></div>
  <div fxLayout="column"  class="about-short-text" fxFlex="40%" fxLayoutGap="1em">
    <div>
      <h2>Über mich</h2>
      <h4>Mentor, Kommuniaktionsdesigner BA, Software-entwickler, Typ mit vollem Haar</h4>
    </div>
    <p>Ich liebe den Moment etwas neues zu erfahren. Eine neue Idee zu entdecken, eine neue Perspektive zu finden, 
      ein AHA-Moment zu erleben, weil ich die richtigen Worte zur richtigen Zeit gehört oder gelesen habe.
      Ich finde meine Freiheit darin zu verstehen, dass wir nichts so tun müssen
      wie wir es kenne, nur weil wir es kennen wie wir es kennen. Ich lernen ständig über mein
      eigenes Verhalten, Beziehungen, Gesundheit, innovatione Arbeitskonzepte, Bildung...
      Dieses Wissen will ich teilen und dir helfen auch dein Leben aus neuen, fördernden und
      motivierenden Perspektiven zu sehen.
    </p>
    <tor-button [text]="'Mehr erfahren'"></tor-button>
  </div>  
</article>