<article fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2.5em">
  <h2>News & Zeitplan</h2>
  <div class="time-table-display" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
    <span class="date">3. Mai 2018</span>
    <h1>Beginn Motivations Workshop</h1>
    <p>Die erste E-Mail ist raus für den Motivations-Workshop im Juni.
      Ich bin immer auf der suche nach konstruktivem Feebdack und würde mich
      freuen, wenn du mir hilfst mein Material und meine Workshops zu verbessern!
    </p>
    <tor-button [text]="'Ich will Helfen'" [style]="'outline'"></tor-button>
  </div>
</article>
