@import '../../../variables';


article {
    margin: 2em 0;
}

.time-table-display {
    background-color: $blue;
    width: 100%;
    padding: 6em 0;
}

.date {
    font-style: italic;
    font-size: 0.7em;
    color: white;
}

p {
    color: white;
    width: 50%;
    text-align: center;
}