    
<section fxLayout="column" fxLayoutGap="5em">
    
    <article fxLayout>
        <div fxLayout="column" fxFlex="50%" fxLayoutGap="2.5em">
            <div fxLayout="column" fxLayoutGap="0.3em">
                <h1>Liebe deine Herausforderungen!</h1>
                <h3>Mache Challenges zur massivsten Quelle deiner Energie und zum größtem Glück deines Lebens </h3>
            </div>
            <p>Lerne in meinem Workshops deine innere Einstellung zu verändern. Erfahre wieso
                Herausforderungen unser größtes Glück in unserem Leben sind, wie du jeden Tag 
                die Energie aufbringst dich ihnen zu stellen und wie dein Umfeld dich massiv dabei
                beeinflusst.
            </p>
            <tor-button [text]="'Workshop buchen'" [path]="'workshop'"></tor-button>
        </div>
    </article>
   
    <section class="wrap" fxLayout fxLayoutGap="1em" fxLayoutAlign="center center">
        <tor-i-offer-tile        
        *ngFor="let short of offersShortDescription"
            [offerShortDescription]="short">  
        </tor-i-offer-tile>
    </section>
    
    <tor-about-short></tor-about-short>
    <tor-time-table></tor-time-table>
</section>