<section fxLayout="column" fxLayoutGap="2em">
    <section style="background-color: lightgrey; height: 20em;"></section>
    <section fxLayout="row" fxLayoutGap="2em" fxLayoutAlign="center center">
        <tor-i-offer-tile fxFlex="30%"></tor-i-offer-tile>
        <tor-i-offer-tile fxFlex="30%"></tor-i-offer-tile>
        <tor-i-offer-tile fxFlex="30%"></tor-i-offer-tile>
    </section>
    <section>
        ABOUT ME SHORT
    </section>
    <section>
        Upcomming + TimeTable
    </section>
</section>