<article 
  *ngIf="offerShortDescription" 
  class="offer-tile" 
  fxLayout="column" 
  fxLayoutGap="1.3em" 
  fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="start center">
      <h2>{{ offerShortDescription.heading }}</h2>
      <h4>{{ offerShortDescription.subHeading }}</h4>
    </div>
    <div class="short-description" 
    fxLayout="column" 
    fxLayoutGap="0.8em" 
    fxLayoutAlign="start center"
    [innerHTML]="offerShortDescription.description">
    </div>
    <tor-button [text]="offerShortDescription.buttonText" [path]="offerShortDescription.path"></tor-button>
</article>
  