<article class="offer-tile" fxLayout="column" fxLayoutGap="1.3em" fxLayoutAlign="start center">
  <div fxLayout="column" fxLayoutAlign="start center">
    <h2>Werde mein Mentee</h2>
    <h4>Intensiv, persönlich, verändernd</h4>
  </div>
  <div class="short-description" fxLayout="column" fxLayoutGap="0.8em">
    <p>
      Fehlt dir ein Ziel oder die Inspiration?
      Lerne mit und von mir das nötige Mindset und die Taktiken dich zu motivieren, 
      dir Routinen anzueignen und dich zu dauerhaft zu wachsen.
      Ich unterstütze dich deinen Weg zu finden und deine Energie am liebsten
      aus Herausforderungen zu ziehen.
    </p>
    <p>
      Was ich von dir will? 
      Offenheit, Ehrlichkeit und Willen zur radikalen Veränderung.
    </p>
  </div>
  <tor-button text="Bewirb dich!" path="about"></tor-button>
</article>
  