.offer-tile {
    height: 30em;
    padding: 1em;
}

h2, 
h4 {
    text-align: center;
}
.short-description ::ng-deep {
    min-height: 15em;
    p {
        line-height: 1.6em;
        text-align: center;
        
    }
}