.offer-tile {
    height: 32em;
    width: 22em;
    padding: 1em;
}

h2, 
h4 {
    text-align: center;
}
.short-description ::ng-deep {
    min-height: 19em;
    p {
        line-height: 1.6em;
        text-align: center;
        
    }
}